<div class="d-flex mb-1 mt-4 px-4">
    <div class="flex items-center w-full">
        <div class="relative w-full">
            <input placeholder="Search Patient Record" #searchForm type="text"
                class="w-full !py-2 mr-1 form-control !border-0" name="searchBox" (change)="onSearch(searchForm.value)">
            <div class="pointer-events-none flex items-center absolute right-3 inset-y-1 p-1">
                <span class="text-sm text-gray-400">Press Enter</span>
            </div>
        </div>
        <button class="!py-2 !bg-blue-800 hover:!bg-blue-900 text-white btn ml-2 !rounded-md"
            [routerLink]="['new']">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M4.5 2A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18h11a1.5 1.5 0 001.5-1.5V7.621a1.5 1.5 0 00-.44-1.06l-4.12-4.122A1.5 1.5 0 0011.378 2H4.5zM10 8a.75.75 0 01.75.75v1.5h1.5a.75.75 0 010 1.5h-1.5v1.5a.75.75 0 01-1.5 0v-1.5h-1.5a.75.75 0 010-1.5h1.5v-1.5A.75.75 0 0110 8z"
                        clip-rule="evenodd" />
                </svg>
                <label class="ml-1">New</label>
            </div>
        </button>
    </div>
</div>
<div>
    <div class="my-4" *ngIf="isLoading">
        <ng-container [ngTemplateOutlet]="skeletonLoader"></ng-container>
    </div>
    <ng-container
        *ngIf="(((searchString | async) || '').trim().length ? patientRecordFromSearch : patientRecords).length; else emptyState"
        ]>
        <mds-forms-table *ngIf="!isLoading"
            [patientRecords]="((searchString | async) || '').trim().length ? patientRecordFromSearch : patientRecords"
            (onEdit)="editRecord($event)" (onDelete)="deleteRecord($event)" [sortColumns]="sortColumns" 
            (onSort)="saveSort($event)" [accessLevel]="accessLevel"></mds-forms-table>
    </ng-container>

</div>
<div class="px-4 flex justify-end mb-4" *ngIf="!((searchString | async) || '').trim().length && !isLoading">
    <ngb-pagination [(page)]="pagination.currentPage" (pageChange)="loadRecords()" [pageSize]="pagination.size"
        [collectionSize]="pagination.totalElements" [maxSize]="10"></ngb-pagination>
</div>
<ng-template #emptyState>
    <div class="bg-white px-3 py-4 mt-4 mx-4 rounded h-96 flex flex-col items-center justify-center">
        <img src="assets/empty-box.png" width="100">
        <span class="mt-2 text-gray-600 pointer-events-none">No Records Found</span>
    </div>
</ng-template>


<ng-template #skeletonLoader>
    <div class="flex items-center px-3 py-4 rounded my-2 mx-4 bg-white" *ngFor="let dummy of [1,2,3,4,5,6,7,8,9,10]">
        <div class="w-3/12 md:w-1/12 text-neutral-800 font-bold cursor-pointer animate-pulse">
            <div class="w-full h-7 bg-slate-200 rounded"></div>
        </div>
        <div class="ml-2 text-neutral-800 font-bold w-4/12 md:w-2/12 animate-pulse">
            <div class="w-full h-7 bg-slate-200 rounded"></div>
        </div>
        <div class="ml-2 text-neutral-800 font-bold  w-5/12 md:w-2/12 animate-pulse">
            <div class="w-full h-7 bg-slate-200 rounded"></div>
        </div>
        <div class="ml-2 text-neutral-800 font-bold w-2/12 animate-pulse hidden md:block">
            <div class="w-full h-7 bg-slate-200 rounded"></div>
        </div>
        <div class="ml-2 text-neutral-800 font-bold w-1/12 animate-pulse hidden md:block">
            <div class="w-full h-7 bg-slate-200 rounded"></div>
        </div>
        <div class="ml-2 text-neutral-800 font-bold w-1/12 animate-pulse hidden md:block">
            <div class="w-full h-7 bg-slate-200 rounded"></div>
        </div>
        <div class="ml-2 text-neutral-800 font-bold w-1/12 animate-pulse hidden md:block">
            <div class="w-full h-7 bg-slate-200 rounded"></div>
        </div>
        <div class="ml-2 text-neutral-800 font-bold w-20 animate-pulse hidden md:block">
            <div class="w-full h-7 bg-slate-200 rounded"></div>
        </div>
        <div class="flex-grow"></div>
        <div class="text-neutral-800 font-bold w-20 animate-pulse ml-2">
            <div class="w-full h-7 bg-slate-200 rounded"></div>
        </div>
    </div>
</ng-template>