<div class="field-container px-5 border rounded">
    <div class="row mt-3" [formGroup]="defaultForm">
        <div class="mb-3 col d-flex flex-column">
            <label class="form-label">Patient's Name</label>
            <div ngbDropdown class="d-inline-block">
                <input type="text" class="form-control" formControlName="name" ngbDropdownToggle>
                <div ngbDropdownMenu [hidden]="!(patientList | async)?.length">
                    <button ngbDropdownItem *ngFor="let patient of (patientList | async)" (click)="assignPatient(patient)">
                        {{ patient.name }}
                    </button>
                </div>
            </div>
        </div>
        <div class="mb-3 col-2 d-flex flex-column">
            <label class="form-label">Gender</label>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-block btn-outline-primary dp-input" ngbDropdownToggle>
                    {{ (defaultForm.controls.sex.value | titlecase) ||  'Select Gender'}}
                </button>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="defaultForm.controls.sex.setValue('male')">Male</button>
                    <button ngbDropdownItem (click)="defaultForm.controls.sex.setValue('female')">Female</button>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="sex" hidden>
        </div>
        <div class="mb-3 col-3">
            <label class="form-label">Date of Birth</label>
            <input type="text" class="form-control" [autoClose]="true"
                ngbDatepicker #dob="ngbDatepicker"
                [minDate]="{year: 1900, month: 1, day: 1}" 
                [maxDate]="todayDate"
                (click)="dob.toggle()"
                (dateSelect)="dateBlur($event, defaultForm.controls.dateOfBirth)"
                (blur)="dateBlur($event, defaultForm.controls.dateOfBirth)"
                placeholder="YYYY-MM-DD">
        </div>
        <div class="mb-3 col-2">
            <label class="form-label">Age</label>
            <input type="text" class="form-control" formControlName="age" [value]="calcAge" readonly>
        </div>
    </div>
    <div class="row" [formGroup]="defaultForm">
        <div class="mb-3 col-3">
            <label class="form-label">Spec #</label>
            <input type="text" class="form-control" formControlName="specNo">
        </div>
        <div class="mb-3 col">
            <label class="form-label">Ordering Dr.</label>
            <input type="text" class="form-control" formControlName="orderingDr">
        </div>

        <div class="mb-3 col-2 d-flex flex-column">
            <label class="form-label">Status</label>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-block btn-outline-primary dp-input" ngbDropdownToggle>
                    {{ (defaultForm.controls.status.value | titlecase) ||  'Select Status'}}
                </button>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="defaultForm.controls.status.setValue('routine')">Routine</button>
                    <button ngbDropdownItem (click)="defaultForm.controls.status.setValue('stat')">Stat</button>
                    <button ngbDropdownItem (click)="defaultForm.controls.status.setValue('urgent')">Urgent</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [formGroup]="defaultForm">
        <div class="mb-3 col-3">
            <label class="form-label">Specimen</label>
            <input type="text" class="form-control" formControlName="specimen">
        </div>
        <div class="mb-3 col">
            <label class="form-label">Ordered</label>
            <input type="text" class="form-control" formControlName="ordered">
        </div>
        <div class="mb-3 col-3">
            <label class="form-label">Collection Date/Time</label>
            <input type="text" class="form-control" formControlName="collectionDateTime"
                ngbDatepicker #cd="ngbDatepicker"
                [minDate]="{year: 1900, month: 1, day: 1}" 
                [maxDate]="todayDate"
                (click)="cd.toggle()">
        </div>
        <div class="mb-3 col-3">
            <label class="form-label">Received Date/Time</label>
            <input type="text" class="form-control" formControlName="receivedDateTime"
                ngbDatepicker #rd="ngbDatepicker"
                [minDate]="{year: 1900, month: 1, day: 1}" 
                [maxDate]="todayDate"
                (click)="rd.toggle()">
        </div>
    </div>
</div>
<div class="field-container px-5 border rounded mt-3">
    <div class="d-flex justify-content-end">
        <div class="mt-3 mb-3" *ngIf="(templateOptions | async) as tempOptions">
            <div ngbDropdown class="d-inline-block" *ngIf="tempOptions.length">
                <button type="button" class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
                    Load Template
                </button>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem *ngFor="let templateItem of tempOptions; let templateIndex = index"
                        (click)="addToTemplateField(templateItem)">{{ templateItem.name.trim() }} </button>
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary ms-2" (click)="newTemplate()">
                New
            </button>
        </div>
    </div>
    <!-- template containers -->
    <div class="card pb-3" *ngIf="(templateList | async) as tempList">
        <ng-container *ngIf="tempList.length !== 0 else emptyState;">
            <ng-container [ngTemplateOutlet]="fieldInput"
                *ngFor="let template of tempList; let templateIndex = index;"
                [ngTemplateOutletContext]="{ template, templateIndex }"></ng-container>
        </ng-container>
    </div>
</div>

<div class="field-container px-5 border rounded mt-3" [formGroup]="defaultForm">
    <div class="row mt-3">
        <div class="mb-3 col">
            <label class="form-label">Comment</label>
            <textarea type="text" class="form-control" formControlName="comment" rows="5"></textarea>
        </div>
    </div>
</div>
<div class="field-container px-5 border rounded mt-3" [formGroup]="defaultForm">
    <div class="row mt-3">
        <div class="mb-3 col">
            <label class="form-label">Performed by</label>
            <input type="text" class="form-control" [value]="defaultForm.controls.performedBy.value?.name || ''" (click)="showStaffModal(defaultForm.controls.performedBy)" readonly>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Verified by</label>
            <input type="text" class="form-control" [value]="defaultForm.controls.verifiedBy.value?.name || ''" (click)="showStaffModal(defaultForm.controls.verifiedBy)" readonly>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Pathologist</label>
            <input type="text" class="form-control" [value]="defaultForm.controls.pathologist.value?.name || ''" (click)="showStaffModal(defaultForm.controls.pathologist)" readonly>
        </div>
    </div>
</div>
<div class="mt-3 d-flex justify-content-end p-4">
    <button class="btn btn-primary me-2" (click)="saveForm()">Save Form</button>
    <button class="btn btn-danger" (click)="clearForm()">Clear</button>
</div>

<ng-template #fieldInput let-reportTemplate='template' let-reportTemplateIndex="templateIndex">
    <div class="py-3 px-3 d-flex">
        <div class="flex-fill d-flex align-items-center">
            <span class="fw-bold text-primary">{{ reportTemplate.name }}</span>
        </div>
        <button class="btn btn-outline-primary rounded btn-sm rounded me-2 text-nowrap circular-btn"
            ngbPopover="Edit this template" [openDelay]="500" triggers="mouseenter:mouseleave" (click)="editTemplate(reportTemplate)">
            <mds-icons icon="edit"></mds-icons>
        </button>
        <button class="btn btn-outline-success rounded btn-sm rounded me-2 text-nowrap circular-btn"
            ngbPopover="Saves the values as defaults for this template" [openDelay]="500"
            triggers="mouseenter:mouseleave"
            (click)="saveTemplate(reportTemplate, tableData)">
            <mds-icons icon="save"></mds-icons>
        </button>
        <button class="btn btn-outline-danger rounded btn-sm rounded me-2 text-nowrap circular-btn"
            ngbPopover="Removes this template from the current form" [openDelay]="500"
            triggers="mouseenter:mouseleave" (click)="removeFromTemplateField(reportTemplateIndex)">
            <mds-icons icon="trash"></mds-icons>
        </button>
    </div>
    <div class="border rounded mb-2 overflow-x-auto" style="overflow-y: hidden;">
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <ng-container *ngFor="let group of reportTemplate.group; let index = index;">
                            <th scope="col" class="flex-fill fw-normal text-primary text-center"
                                [ngClass]="{ 'col-3': index === 0 }">{{ group.name }}
                            </th>
                        </ng-container>
                        <th class="w-100"></th>
                    </tr>
                </thead>
                <tbody #tableData>
                    <tr *ngFor="let row of reportTemplate.group[0].values; let rowIndex = index">
                        <td class="menu">
                            <div class="d-flex">
                                <button class="btn btn-outline-success circular-btn"
                                    (click)="addRow(reportTemplate)">
                                    <mds-icons icon="plus"></mds-icons>
                                </button>
                                <button class="btn btn-outline-danger circular-btn"
                                    (click)="removeRow(reportTemplate, rowIndex)">
                                    <mds-icons icon="minus"></mds-icons>
                                </button>
                            </div>
                        </td>
                        <td *ngFor="let group of reportTemplate.group; let colIndex = index">
                            <ng-container [ngSwitch]="reportTemplate.group[colIndex].type">
                                <input type="number" *ngSwitchCase="'NUMBER'" class="tbl-data form-control" [value]="reportTemplate.group[colIndex].values[rowIndex]"
                                    placeholder="Input a Number" (blur)="templateChange(reportTemplateIndex, rowIndex, colIndex, $event.target)">
                                <input type="text" *ngSwitchCase="'TEXT'" class="tbl-data form-control" [value]="reportTemplate.group[colIndex].values[rowIndex]"
                                    placeholder="Input a Value"  (blur)="templateChange(reportTemplateIndex, rowIndex, colIndex, $event.target)">
                                <div *ngSwitchCase="'DATETIME'" class="d-flex">
                                    <input type="text" class="tbl-data form-control" ngbDatepicker #d="ngbDatepicker" placeholder="Select Date"  (blur)="templateChange(reportTemplateIndex, rowIndex, colIndex, $event.target)"
                                        [value]="reportTemplate.group[colIndex].values[rowIndex] || reportTemplate.group[colIndex].defaults" (click)="d.toggle()" />
                                </div>
                                <div ngbDropdown *ngSwitchCase="'DROPDOWN'" class="d-inline-block" container="body">
                                    <input type="text" class="tbl-data" [value]="reportTemplate.group[colIndex].values[rowIndex]" hidden>
                                    <button type="button" class="btn btn-block btn-outline-primary dp-toggle text-truncate" ngbDropdownToggle>
                                        {{ reportTemplate.group[colIndex].values[rowIndex] || reportTemplate.group[colIndex].defaults.split(',')[0] }}
                                    </button>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem (click)="dropdownClick(reportTemplateIndex, colIndex, rowIndex, dropdownItems.trim())"
                                            *ngFor="let dropdownItems of reportTemplate.group[colIndex].defaults.split(',');">{{
                                            dropdownItems.trim() }}</button>
                                    </div>
                                </div>
                            </ng-container>
                        </td>
                        <td class="w-100"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</ng-template>

<ng-template #emptyState>
    <div class="card emptyState">
        <div class="d-flex flex-column justify-content-center align-items-center empty-state">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-alert-triangle">
                <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z">
                </path>
                <line x1="12" y1="9" x2="12" y2="13"></line>
                <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg>
            <span class="mt-2">Load template from the dropdown above</span>
        </div>
    </div>
</ng-template>