<lib-ngx-notification></lib-ngx-notification>
<div class="wizard-body pt-4 px-5">
    <div class="field-container px-5 border rounded">
        <div class="row mt-3" [formGroup]="defaultForm">
            <div class="mb-3 col-6 d-flex flex-column">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.name.value
                }">Patient's Name</label>
                <div ngbDropdown class="d-inline-block">
                    <input type="text" class="form-control" formControlName="name"
                        (ngModelChange)="onPatientSearch(defaultForm.controls.name.value)" ngbDropdownToggle>
                    <div ngbDropdownMenu [hidden]="!(patientList | async)?.length">
                        <button ngbDropdownItem *ngFor="let patient of (patientList | async)"
                            (click)="assignPatient(patient)">
                            <span>{{ patient.name }}</span>
                            <span class="text-muted ms-2"><em>{{ patient.dateOfBirth }}</em></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mb-3 col-2 d-flex flex-column">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.sex.value
                }">Gender</label>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-block btn-outline-primary dp-input" ngbDropdownToggle>
                        {{ (defaultForm.controls.sex.value | titlecase) || 'Select Gender'}}
                    </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem (click)="defaultForm.controls.sex.setValue('male')">Male</button>
                        <button ngbDropdownItem (click)="defaultForm.controls.sex.setValue('female')">Female</button>
                    </div>
                </div>
                <input type="text" class="form-control" formControlName="sex" hidden>
            </div>
            <div class="mb-3 col-2 d-flex flex-column">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.dateOfBirth.value
                }">Date of Birth</label>
                <mds-datetimepicker [showTime]="false" [minDate]="{year: 1900, month: 1, day: 1}"
                    [date]="defaultForm.controls.dateOfBirth.value"
                    (onChange)="defaultForm.controls.dateOfBirth.setValue($event)"></mds-datetimepicker>
            </div>
            <div class="mb-3 col-1">
                <label class="form-label"  [ngClass]="{
                    error: !defaultForm.controls.dateOfBirth.value
                }">Age</label>
                <input type="text" class="form-control" formControlName="age" [value]="calcAge" readonly>
            </div>
        </div>
        <div class="row" [formGroup]="defaultForm">
            <div class="mb-3 col-2">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.specNo.value
                }">Spec #</label>
                <input type="text" class="form-control" formControlName="specNo">
            </div>
            <div class="mb-3 col">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.orderingDr.value
                }">Ordering Dr.</label>
                <input type="text" class="form-control" formControlName="orderingDr">
            </div>

            <div class="mb-3 col-2 d-flex flex-column">
                <label class="form-label">Status</label>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-block btn-outline-primary dp-input" ngbDropdownToggle>
                        {{ (defaultForm.controls.status.value | titlecase) || 'Select Status'}}
                    </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem
                            (click)="defaultForm.controls.status.setValue('routine')">Routine</button>
                        <button ngbDropdownItem (click)="defaultForm.controls.status.setValue('stat')">Stat</button>
                        <button ngbDropdownItem (click)="defaultForm.controls.status.setValue('urgent')">Urgent</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" [formGroup]="defaultForm">
            <div class="mb-3 col-2">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.specimen.value
                }">Specimen</label>
                <input type="text" class="form-control" formControlName="specimen">
            </div>
            <div class="mb-3 col-6">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.ordered.value
                }">Ordered</label>
                <input type="text" class="form-control" formControlName="ordered">
            </div>
            <div class="mb-3 col-2 d-flex flex-column">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.collectionDateTime.value
                }">Collection Date/Time</label>
                <mds-datetimepicker [time]="splitDateTime(defaultForm.controls.collectionDateTime.value).time"
                    [date]="splitDateTime(defaultForm.controls.collectionDateTime.value).date"
                    (onChange)="defaultForm.controls.collectionDateTime.setValue($event)"></mds-datetimepicker>
            </div>
            <div class="mb-3 col-2 d-flex flex-column">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.receivedDateTime.value
                }">Received Date/Time</label>
                <mds-datetimepicker [time]="splitDateTime(defaultForm.controls.receivedDateTime.value).time"
                    [date]="splitDateTime(defaultForm.controls.receivedDateTime.value).date"
                    (onChange)="defaultForm.controls.receivedDateTime.setValue($event)"></mds-datetimepicker>
            </div>
        </div>
    </div>
    <div class="field-container px-5 border rounded mt-3">
        <div class="d-flex justify-content-end">
            <div class="mt-3 mb-3" *ngIf="(templateOptions | async) as tempOptions">
                <div ngbDropdown class="d-inline-block" *ngIf="tempOptions.length">
                    <button type="button" class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
                        Load Template
                    </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem *ngFor="let templateItem of tempOptions; let templateIndex = index" class="d-flex align-items-center">
                        <span class="flex-fill" (click)="addToTemplateField(templateItem)">{{ templateItem.name.trim() }} </span>
                        <button ngbPopover="Duplicate this template" [openDelay]="500" triggers="mouseenter:mouseleave" class="btn btn-secondary circular-btn p-2" (click)="duplicateTemplate(templateItem)">
                            <mds-icons icon="copy"></mds-icons>
                        </button>
                        </button>
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary ms-2" (click)="newTemplate()">
                    New
                </button>
            </div>
        </div>
        <!-- template containers -->
        <div class="card pb-3" *ngIf="(templateList | async) as tempList" #formData>
            <ng-container *ngIf="tempList.length !== 0 else emptyState;">
                <ng-container [ngTemplateOutlet]="fieldInput"
                    *ngFor="let template of tempList; let templateIndex = index;"
                    [ngTemplateOutletContext]="{ template, templateIndex }"></ng-container>
            </ng-container>
        </div>
    </div>
    <div class="field-container px-5 border rounded mt-3" [formGroup]="defaultForm">
        <div class="row mt-3">
            <div class="mb-3 col">
                <label class="form-label">Comment</label>
                <textarea type="text" class="form-control" formControlName="comment" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="field-container px-5 border rounded mt-3 mb-5" [formGroup]="defaultForm">
        <div class="row mt-3">
            <div class="mb-3 col">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.performedBy.value?.name
                }">Performed by</label>
                <input type="text" class="form-control" [value]="defaultForm.controls.performedBy.value?.name || ''"
                    (click)="showStaffModal(defaultForm.controls.performedBy)" readonly>
            </div>
            <div class="mb-3 col">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.verifiedBy.value?.name
                }">Verified by</label>
                <input type="text" class="form-control" [value]="defaultForm.controls.verifiedBy.value?.name || ''"
                    (click)="showStaffModal(defaultForm.controls.verifiedBy)" readonly>
            </div>
            <div class="mb-3 col">
                <label class="form-label" [ngClass]="{
                    error: !defaultForm.controls.pathologist.value?.name
                }">Pathologist</label>
                <input type="text" class="form-control" [value]="defaultForm.controls.pathologist.value?.name || ''"
                    (click)="showStaffModal(defaultForm.controls.pathologist)" readonly>
            </div>
        </div>
    </div>
</div>
<div class="d-flex p-4 align-items-center position-sticky border-top bg-white">
    <div class="flex-fill">
        <button class="btn btn-outline-danger d-flex align-items-center me-3" (click)="clearForm()">
            <mds-icons icon="close"></mds-icons>
            <span class="ms-2">Clear</span>
        </button>
    </div>
    <ng-template #formError>Fill up all the fields mark with <span class="text-danger">*</span></ng-template>
    <span class="me-2 text-danger" *ngIf="saveDisabled" [ngbPopover]="formError"
        [openDelay]="500" triggers="mouseenter:mouseleave">
        <mds-icons icon="alert"></mds-icons></span>
    <button class="btn btn-outline-primary me-2 d-flex align-items-center" (click)="saveForm(false)" [disabled]="saveDisabled">
        <mds-icons icon="save"></mds-icons>
        <span class="ms-2">Save</span>
    </button>
    <button class="btn btn-outline-secondary d-flex align-items-center me-2" (click)="printForm()" [disabled]="saveDisabled">
        <mds-icons icon="file"></mds-icons>
        <span class="ms-2">Save & Preview</span>
    </button>
    
</div>

<ng-template #fieldInput let-reportTemplate='template' let-reportTemplateIndex="templateIndex">
    <div class="py-3 px-3 d-flex">
        <div class="flex-fill d-flex align-items-center">
            <span class="fw-bold text-primary">{{ reportTemplate.name }}</span>
        </div>
        <button class="btn btn-outline-primary rounded btn-sm rounded me-2 text-nowrap circular-btn"
            ngbPopover="Edit this template" [openDelay]="500" triggers="mouseenter:mouseleave"
            (click)="editTemplate(reportTemplate)">
            <mds-icons icon="edit"></mds-icons>
        </button>
        <button class="btn btn-outline-success rounded btn-sm rounded me-2 text-nowrap circular-btn"
            ngbPopover="Saves the values as defaults for this template" [openDelay]="500"
            triggers="mouseenter:mouseleave" (click)="saveTemplate(reportTemplate, tableData)">
            <mds-icons icon="save"></mds-icons>
        </button>
        <button class="btn btn-outline-danger rounded btn-sm rounded me-2 text-nowrap circular-btn"
            ngbPopover="Removes this template from the current form" [openDelay]="500" triggers="mouseenter:mouseleave"
            (click)="removeFromTemplateField(reportTemplateIndex)">
            <mds-icons icon="trash"></mds-icons>
        </button>
    </div>
    <div class="border rounded mb-2 overflow-x-auto">
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <ng-container *ngFor="let group of reportTemplate.group; let index = index;">
                            <th scope="col" class="flex-fill fw-normal text-primary text-center" [ngClass]="{
                                error: isErrorColumn(group)
                            }">{{ group.name }}
                            </th>
                        </ng-container>
                        <th class="w-100"></th>
                    </tr>
                </thead>
                <tbody #tableData>
                    <tr *ngFor="let row of reportTemplate.group[0].values; let rowIndex = index" [id]="row">
                        <td class="menu">
                            <div class="d-flex">
                                <button class="btn btn-outline-success circular-btn" (click)="addRow(reportTemplate)">
                                    <mds-icons icon="plus"></mds-icons>
                                </button>
                                <button class="btn btn-outline-danger circular-btn"
                                    (click)="removeRow(reportTemplate, rowIndex)">
                                    <mds-icons icon="minus"></mds-icons>
                                </button>
                            </div>
                        </td>
                        <td *ngFor="let group of reportTemplate.group; let colIndex = index" class="text-center">
                            <ng-container [ngSwitch]="reportTemplate.group[colIndex].type">
                                <input type="number" *ngSwitchCase="'NUMBER'" class="tbl-data form-control" [value]="reportTemplate.group[colIndex].values[rowIndex] || ''"
                                    placeholder="Input a Number" (blur)="inputChange(reportTemplateIndex, rowIndex, colIndex, $event.target)">
                                <input type="text" *ngSwitchCase="'TEXT'" class="tbl-data form-control" [value]="reportTemplate.group[colIndex].values[rowIndex] || ''"
                                    placeholder="Input a Value" (blur)="inputChange(reportTemplateIndex, rowIndex, colIndex, $event.target)">
                                <div *ngSwitchCase="'DATETIME'" class="d-flex">
                                    <input type="text" class="tbl-data"
                                        [(ngModel)]="reportTemplate.group[colIndex].values[rowIndex]" hidden #dTarget />
                                    <mds-datetimepicker (onChange)="reportTemplate.group[colIndex].values[rowIndex] = $event"
                                        [date]="reportTemplate.group[colIndex].values[rowIndex].split(' ')[0]"
                                        [time]="reportTemplate.group[colIndex].values[rowIndex].split(' ')[1]"></mds-datetimepicker>
                                </div>
                                <div *ngSwitchCase="'DATE'" class="d-flex">
                                    <input type="text" class="tbl-data"
                                        [(ngModel)]="reportTemplate.group[colIndex].values[rowIndex]" hidden #dtTarget />
                                    <mds-datetimepicker [showTime]="false" (onChange)="reportTemplate.group[colIndex].values[rowIndex] = $event"
                                        [date]="reportTemplate.group[colIndex].values[rowIndex]"></mds-datetimepicker>
                                </div>
                                <div ngbDropdown *ngSwitchCase="'DROPDOWN'" class="d-inline-block" container="body">
                                    <input type="text" class="tbl-data"
                                        [value]="reportTemplate.group[colIndex].values[rowIndex]" hidden>
                                    <button type="button"
                                        class="btn btn-block btn-outline-primary dp-toggle text-truncate"
                                        ngbDropdownToggle>
                                        {{ reportTemplate.group[colIndex].values[rowIndex] ||
                                        reportTemplate.group[colIndex].defaults.split(',')[0] }}
                                    </button>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem
                                            (click)="dropdownClick(reportTemplateIndex, colIndex, rowIndex, dropdownItems.trim())"
                                            *ngFor="let dropdownItems of reportTemplate.group[colIndex].defaults.split(',');">{{
                                            dropdownItems.trim() }}</button>
                                    </div>
                                </div>
                            </ng-container>
                        </td>
                        <td class="w-100"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</ng-template>

<ng-template #emptyState>
    <div class="card emptyState">
        <div class="d-flex flex-column justify-content-center align-items-center empty-state">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-alert-triangle">
                <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z">
                </path>
                <line x1="12" y1="9" x2="12" y2="13"></line>
                <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg>
            <span class="mt-2">Load template from the dropdown above</span>
        </div>
    </div>
</ng-template>