@if ((breadcrumbSvc.breadcrumbs | async); as breadcrumbs;) {
  <div class="mds-topbar flex items-center px-3 py-2 w-full">
    <img src="assets/logo_no_text.png" [routerLink]="['']" width="64" class="cursor-pointer mr-2.5 px-1.5 py-1 bg-white/95 rounded-md shadow-sm">
    @for (crumb of breadcrumbs; track crumb; let last = $last) {
      <span class="cursor-default px-1.5 py-0.5 rounded-md text-sm text-white/95 transition-all"
            routerLink="{{ crumb.href }}" [ngClass]="{
                'hover:bg-white/10 !cursor-pointer': !last
            }">{{ crumb.title }}</span>
      @if (!last) {
        <span class="mx-0.5 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
          </svg>
        </span>
      }
    }
    <div class="flex-grow-1"></div>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="flex items-center text-white px-2 py-1.5 rounded-md hover:bg-white/10" ngbDropdownToggle>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
          <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z"
            clip-rule="evenodd" />
        </svg>
        <span class="ml-1 text-sm leading-none">{{ userName }}</span>
      </button>
      <div ngbDropdownMenu class="border-0 shadow-md rounded-xl overflow-hidden">
        <button ngbDropdownItem (click)="accountSettings()">
          <div class="flex flex-row content-center py-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z"
                clip-rule="evenodd" />
            </svg>
            <label class="ml-2">
              Account Settings
            </label>
          </div>
        </button>
        <button ngbDropdownItem (click)="logout()">
          <div class="flex flex-row content-center py-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd"
                d="M3 4.25A2.25 2.25 0 015.25 2h5.5A2.25 2.25 0 0113 4.25v2a.75.75 0 01-1.5 0v-2a.75.75 0 00-.75-.75h-5.5a.75.75 0 00-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 00.75-.75v-2a.75.75 0 011.5 0v2A2.25 2.25 0 0110.75 18h-5.5A2.25 2.25 0 013 15.75V4.25z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M19 10a.75.75 0 00-.75-.75H8.704l1.048-.943a.75.75 0 10-1.004-1.114l-2.5 2.25a.75.75 0 000 1.114l2.5 2.25a.75.75 0 101.004-1.114l-1.048-.943h9.546A.75.75 0 0019 10z"
                clip-rule="evenodd" />
            </svg>
            <label class="ml-2">
              Log Out
            </label>
          </div>
        </button>
      </div>
    </div>
    <button type="button" class="theme-toggle ml-3"
      [class.theme-toggle--toggled]="!isDarkMode"
      [attr.aria-label]="isDarkMode ? 'Switch to light mode' : 'Switch to dark mode'"
      (click)="toggleTheme(!isDarkMode)">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="1em" height="1em"
        class="theme-toggle__dark-side" fill="currentColor" viewBox="0 0 512 512">
        <path
          d="M256 0a256 256 0 1 0 0 512 256 256 0 0 0 0-512Zm0 464V48a208 208 0 0 1 0 416Z" />
      </svg>
    </button>
  </div>
}
