.modal-body {
    height: calc(100vh - 120px);
    overflow: auto;
    background-color: #d5d5d5;
    * {
        font-family: 'Courier New', Courier, monospace !important;
        font-size: 14pt;
    }   
}

.container {
    min-width: 1320px;
}

.modal-footer {
    margin-top: 0px !important;
}