<ng-template #printPreview>
    <div class="container bg-white mt-3">
        <div #printArea class="p-5">
            <ng-container [ngTemplateOutlet]="reportHeader"></ng-container>
            <div class="main-row rounded px-3 mt-2 !border-0" *ngFor="let field of reportField">
                <div class="row">
                    <div class="col text-underlined"><u class="fw-bold h5">{{ field.name }}</u></div>
                </div>
                <div class="row mt-3">
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th *ngFor="let col of field.group" class="fw-bold min-size text-wrap align-text-top">{{
                                    col.name }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of field.group[0].values; let rowIndex = index">
                                <td *ngFor="let group of field.group; let colIndex = index">
                                    {{ group.values[rowIndex] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="main-row row mt-2 pb-4 !border-0" *ngIf="formData?.comments">
                <div class="col-2 fw-bold">COMMENT:</div>
                <div class="col" [innerHTML]="sanitizeHtml(formData?.comments || '')"></div>
            </div>
            <ng-container [ngTemplateOutlet]="reportFooter"></ng-container>
        </div>
        <div [innerHTML]="formattedPage" #formattedArea></div>
    </div>
    <div class="row mt-5 mb-5"></div>
</ng-template>
<div class="modal-body">
    <pdf-viewer [src]="pdfSrc" [zoom]="reportZoom" [zoom-scale]="'page-width'" [show-borders]="false"
        [autoresize]="true" style="width: 100%; height: 100%;"
        (after-load-complete)="reportLoaded($event)"></pdf-viewer>
    <ng-container [ngTemplateOutlet]="printPreview"></ng-container>
</div>
<div class="modal-footer d-flex position-sticky">
    <div class="flex-fill">
        <div class="flex">
            <button type="button" (click)="zoomReport(0.5)" class="content-center p-2 rounded-full hover:bg-blue-200 bg-blue-50 text-blue-800">
                <mds-icons icon="plus" [width]="15" [height]="15"></mds-icons>
            </button>
            <input type="text" class="form-control text-sm w-12 mx-2" [(ngModel)]="reportZoom" />
            <button type="button" (click)="zoomReport(-0.5)" class="content-center p-2 rounded-full hover:bg-blue-200 bg-blue-50 text-blue-800">
                <mds-icons icon="minus" [width]="15" [height]="15"></mds-icons>
            </button>
        </div>
    </div>
    <div>
        <button type="button" class="content-center py-2 px-4 rounded hover:bg-blue-200 bg-blue-50 text-blue-800"
            (click)="dismiss()">
            <div class="d-flex">
                <mds-icons icon="close" [width]="20" [height]="20"></mds-icons>
                <span class="ms-2 font-bold">Close</span>
            </div>
        </button>
        <button type="button" class="content-center py-2 px-4 rounded hover:bg-blue-200 bg-blue-50 text-blue-800 ms-2"
            (click)="previewAsPDF()" [disabled]="isPrinting">
            <div class="d-flex" *ngIf="!isPrinting">
                <mds-icons icon="print" [width]="20" [height]="20"></mds-icons>
                <span class="ms-2 font-bold">Print</span>
            </div>
            <div class="flex items-center text" *ngIf="isPrinting">
                <mds-icons icon="loading" class="animated" [width]="20" [height]="20"></mds-icons>
                <span class="ms-2 font-bold">Loading</span>
            </div>
        </button>
    </div>
</div>

<ng-template #reportHeader>
    <div class="main-row row mt-4">
        <div class="col-1">
            <img src="/assets/logo.png" class="brand-logo">
        </div>
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <span class="fw-bold">MULTIHEALTH DYNAMIC SOLUTIONS INC.</span>
            <span class="text-small">B5 2/Floor St. Matthew's Bldg. Magsaysay Street, Almendras Cogon, Sorsogon,
                Philippines</span>
            <div class="d-flex">
                <span class="me-3 text-small">(056) 255-1277</span>
                <span class="me-3 text-small">www.mdsolutionsph.com</span>
                <span class="text-small">info@mdsolutionsph.com</span>
            </div>
        </div>
    </div>
    <div class="main-row border border-2 border-dark rounded p-3 mt-4 mb-4">
        <div class="row">
            <div class="col-2 fw-bold">Name:</div>
            <div class="col">{{ formData?.patient?.name }}</div>
            <div class="col-3 fw-bold">Age/Sex:</div>
            <div class="col-2">{{ calcAge(formData?.patient?.dateOfBirth)}} / {{ formData?.patient?.sex |
                uppercase }}</div>

        </div>
        <div class="row">
            <div class="col-2 fw-bold">MR No.:</div>
            <div class="col">{{ formData?.specNo }}</div>
            <div class="col-3 fw-bold">Date of Birth:</div>
            <div class="col-1">{{ formData?.patient?.dateOfBirth }}</div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-2 fw-bold">Accession No.:</div>
            <div class="col">{{ formData?.accessionNo }}</div>
        </div>
        <div class="row">
            <div class="col-2 text-nowrap fw-bold">Ordering Dr:</div>
            <div class="col">{{ formData?.orderingDoctor }}</div>
            <div class="col-3 fw-bold">Collection Date/Time:</div>
            <div class="col-2">{{ formData?.collectionDateTime }}</div>
        </div>
        <div class="row">
            <div class="col-2 fw-bold">Status:</div>
            <div class="col">{{ formData?.status | uppercase }}</div>
            <div class="col-3 fw-bold">Received Date/Time:</div>
            <div class="col-2">{{ formData?.receivedDateTime }}</div>
        </div>
        <div class="row">
            <div class="col-2 fw-bold">Specimen:</div>
            <div class="col">{{ formData?.specimen }}</div>
        </div>
        <div class="row">
            <div class="col-2 fw-bold">Ordered:</div>
            <div class="col">{{ formData?.ordered }}</div>
        </div>
    </div>
</ng-template>

<ng-template #reportFooter>
    <div class="main-row">
        <div class="row mt-2 border border-3 border-dark">
            <div class="col fw-bold text-center">** END OF REPORT**</div>
        </div>
        <div class="row mt-4">
            <div class="col fw-bold">Performed by:</div>
            <div class="col fw-bold">Verified by:</div>
            <div class="col fw-bold">Pathologist:</div>
        </div>
        <div class="row mt-4">
            <div class="col">{{ formData?.performedBy?.name }}<br>Lic No. {{ formData?.performedBy?.licNo }}</div>
            <div class="col">{{ formData?.verifiedBy?.name }}<br>Lic No. {{ formData?.verifiedBy?.licNo }}</div>
            <div class="col">{{ formData?.pathologist?.name }}<br>Lic No. {{ formData?.pathologist?.licNo }}</div>
        </div>
    </div>
</ng-template>