<div class="d-block">
    <div ngbDropdown #dp="ngbDropdown" container="body">
        <button type="button" class="btn btn-outline-primary dp-input" [id]="id" ngbDropdownToggle>
            <ng-container *ngIf="(currentDateTime | async) as dtValue">
                <span [ngClass]="{
                    'text-muted': dtValue.includes('MM/DD/YYYY')
                }">{{ currentDateTime | async }}</span>
            </ng-container>
        </button>
        <div ngbDropdownMenu >
            <div class="d-flex">
                <div class="border-bottom" [ngClass]="{
                    'border-end': showTime
                }">
                    <ngb-datepicker class="border-0" [minDate]="minDate" (ngModelChange)="onDateSet($event)" [ngModel]="dateObj"></ngb-datepicker>
                </div>
                <div class="d-flex align-items-center border-bottom" *ngIf="showTime">
                    <div class="d-flex flex-column align-items-center p-2">
                        <ngb-timepicker [meridian]="true" [ngModel]="timeObj" (ngModelChange)="onTimeSet($event)"></ngb-timepicker>
                    </div>
                </div>
            </div>
            <div class="d-flex p-2 bg-light">
                <div class="flex-fill">
                    <button type="button" class="btn btn-sm btn-danger" (click)="set(false, true)">Reset</button>
                </div>
                <div>
                    <button type="button" class="btn btn-sm btn-secondary btn-glass" (click)="set(true)">Cancel</button>
                    <button type="button" class="btn btn-sm btn-primary btn-glass ms-2" (click)="set()">Set</button>
                </div>
            </div>
        </div>
    </div>
</div>