:host {
    .dp-input {
        color: #212529;
        background-color: #ffffff;
        border: 1px solid #ced4da;
        text-align: left;
        padding: 0.375rem 0.75rem;
        &::after {
            content: none !important;
        }
        min-width: 20ch;
    }

    --bs-info: var(--bs-primary);
}

.dropdown-menu {
    padding: 0px !important;
    overflow: hidden;
}