<lib-ngx-notification></lib-ngx-notification>
<div class="modal-header">
    <h4 class="modal-title fw-bold">{{ isNew ? 'Create New Template' : 'Edit Template' }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <div class="mb-3 col">
        <label class="form-label">Template Name</label>
        <input type="text" class="form-control" [(ngModel)]="template.name">
    </div>
    <div class="d-flex align-items-center mb-2" *ngFor="let col of template.group; let index = index">
        <div class="d-flex me-2">
            <button class="btn btn-outline-success circular-btn" (click)="addNewColumn()">
                <mds-icons icon="plus"></mds-icons>
            </button>
            <button class="btn btn-outline-danger circular-btn" (click)="removeColumn(index)">
                <mds-icons icon="minus"></mds-icons>
            </button>
        </div>
        <input type="text" class="form-control me-2" placeholder="Name" [(ngModel)]="template.group[index].name">
        <div ngbDropdown class="d-inline-block me-2 col-3">
            <input [(ngModel)]="template.group[index].type" hidden>
            <button type="button" class="btn btn-outline-primary w-100" ngbDropdownToggle>
                {{template.group[index].type || 'Select Type' }}
            </button>
            <div ngbDropdownMenu>
                <ng-container *ngFor="let item of selectionList | keyvalue">
                    <button ngbDropdownItem (click)="changeType(item.key, index)" *ngIf="item.key !== 'DEFAULT'">
                        {{ item.value | titlecase }}
                    </button>
                </ng-container>
            </div>
        </div>
        <div class="col-4">
            <ng-container [ngSwitch]="template.group[index].type">
                <input type="number" *ngSwitchCase="'NUMBER'" class="form-control" placeholder="Default Value"
                    [(ngModel)]="template.group[index].defaults">
                <input type="text" *ngSwitchCase="'TEXT'" class="form-control" placeholder="Default Value"
                    [(ngModel)]="template.group[index].defaults">
                <div *ngSwitchCase="'DATETIME'" class="d-flex">
                    <mds-datetimepicker (onChange)="onDateSelect(index, $event)"></mds-datetimepicker>
                </div>
                <div *ngSwitchCase="'DATE'" class="d-flex">
                    <mds-datetimepicker [showTime]="false" (onChange)="onDateSelect(index, $event)"></mds-datetimepicker>
                </div>
                <input type="text" *ngSwitchCase="'DROPDOWN'" class="form-control" placeholder="Default, Option 1, Option 2"
                    ngbPopover="Split dropdown items using a comma(','). First item will be used as default selection." [openDelay]="500"
                    triggers="mouseenter:mouseleave" [(ngModel)]="template.group[index].defaults">
                <input type="text" *ngSwitchCase="'SELECT TYPE'" class="form-control" disabled>
            </ng-container>
        </div>
    </div>
</div>
<div class="modal-footer d-flex">
    <div class="flex-fill">
        <button type="button" class="btn btn-outline-danger" (click)="delete()" *ngIf="!isNew">
            <div class="d-flex">
                <mds-icons icon="trash" [width]="20" [height]="20"></mds-icons>
                <span class="ms-2">Delete</span>
            </div>

        </button>
    </div>
    <div>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="saveDisabled">
            <div class="d-flex">
                <mds-icons icon="save" [width]="20" [height]="20"></mds-icons>
                <span class="ms-2">Save</span>
            </div>
        </button>
    </div>

</div>