<div class="modal-header shadow-none bg-gray-100">
    <h4 class="modal-title fw-bold">{{ isNew ? 'Create New Template' : 'Edit Template' }}</h4>
    <button type="button" class="btn-close-tw" aria-label="Close" (click)="dismiss()">
        <mds-icons icon="close" [width]="18" [height]="18"></mds-icons>
    </button>
</div>
<div class="modal-body shadow-none">
    <div class="mb-3 col">
        <label class="form-label">Template Name</label>
        <input type="text" class="form-control" [(ngModel)]="template.name">
    </div>
    <div cdkDropList (cdkDropListDropped)="sort($event)">
        <div class="d-flex align-items-center mb-2 bg-white py-2 px-3"
            *ngFor="let col of template.group; let index = index" cdkDrag>
            <div class="w-100 py-4 px-3 bg-light" *cdkDragPlaceholder></div>
            <div class="text-muted me-3" cdkDragHandle>
                <mds-icons icon="menu" [height]="15" [width]="15"></mds-icons>
            </div>
            <div class="d-flex me-2">
                <button class="btn btn-outline-danger circular-btn" (click)="removeColumn(index)">
                    <mds-icons icon="minus"></mds-icons>
                </button>
                <button class="circular-btn text-blue-800 hover:bg-blue-200" (click)="addNewColumn(index)">
                    <mds-icons icon="plus"></mds-icons>
                </button>
                <button class="circular-btn text-blue-800 hover:bg-blue-200" (click)="duplicateColumn(index)">
                    <mds-icons icon="copy"></mds-icons>
                </button>
            </div>
            <input type="text" class="form-control me-2" placeholder="Name" [(ngModel)]="template.group[index].name">
            <div ngbDropdown class="d-inline-block me-2">
                <input [(ngModel)]="template.group[index].type" hidden>
                <button type="button" class="btn-primary-tw w-40" ngbDropdownToggle>
                    {{template.group[index].type || 'Select Type' }}
                </button>
                <div ngbDropdownMenu>
                    <ng-container *ngFor="let item of selectionList | keyvalue">
                        <button ngbDropdownItem (click)="changeType(item.key, index)" *ngIf="item.key !== 'DEFAULT'">
                            {{ item.value | titlecase }}
                        </button>
                    </ng-container>
                </div>
            </div>
            <div class="w-100">
                <ng-container [ngSwitch]="template.group[index].type">
                    <input type="number" *ngSwitchCase="'NUMBER'" class="form-control" placeholder="Default Value"
                        [(ngModel)]="template.group[index].defaults">
                    <input type="text" *ngSwitchCase="'TEXT'" class="form-control" placeholder="Default Value"
                        [(ngModel)]="template.group[index].defaults">
                    <div *ngSwitchCase="'DATETIME'" class="d-flex">
                        <mds-datetimepicker [date]="template.group[index].defaults"
                            (onChange)="onDateSelect(index, $event)"></mds-datetimepicker>
                    </div>
                    <div *ngSwitchCase="'DATE'" class="d-flex">
                        <mds-datetimepicker [date]="template.group[index].defaults" [showTime]="false"
                            (onChange)="onDateSelect(index, $event)"></mds-datetimepicker>
                    </div>
                    <input type="text" *ngSwitchCase="'DROPDOWN'" class="form-control"
                        placeholder="Default, Option 1, Option 2"
                        ngbPopover="Split dropdown items using a comma(','). First item would be set as default."
                        [openDelay]="500" triggers="mouseenter:mouseleave" [(ngModel)]="template.group[index].defaults">
                    <input type="text" *ngSwitchCase="'SELECT TYPE'" class="form-control" disabled>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer shadow-none d-flex">
    <div class="flex-fill">
        <button type="button" class="btn-danger-tw flex items-center" (click)="delete()" *ngIf="!isNew">
            <mds-icons icon="trash" [width]="20" [height]="20"></mds-icons>
            <span class="ms-2 font-bold">Delete</span>
        </button>
    </div>
    <div>
        <button type="button" class="btn-primary-tw flex items-center" (click)="save()" [disabled]="saveDisabled">
            <mds-icons icon="save" [width]="20" [height]="20"></mds-icons>
            <span class="ms-2 font-bold">Save</span>
        </button>
    </div>

</div>