<div class="relative overflow-x-auto m-4">
    <div class="flex items-center px-3 py-1 rounded my-2 bg-blue-50">
        <div class="w-20 md:w-1/12 text-blue-800 font-bold cursor-pointer truncate">MR No.</div>
        <div class="ml-2 text-blue-800 font-bold w-4/12 md:w-2/12 truncate">Patient's Name</div>
        <div class="ml-2 text-blue-800 font-bold  w-5/12 md:w-2/12 truncate">Ordered</div>
        <div class="ml-2 text-blue-800 font-bold w-2/12 truncate hidden md:block">Requested By</div>
        <div class="ml-2 text-blue-800 font-bold w-1/12 truncate hidden md:block">Specimen</div>
        <div class="ml-2 text-blue-800 font-bold w-40 truncate hidden md:block">Received</div>
        <div class="ml-2 text-blue-800 font-bold w-40 truncate hidden md:block">Collected</div>
        <div class="ml-2 text-blue-800 font-bold w-20 truncate hidden md:block">Status</div>
        <div class="flex-grow"></div>
        <div class="flex justify-end content-center text-blue-800 font-bold w-24">
            <div ngbDropdown [autoClose]="false" #filterDropdown="ngbDropdown">
                <button type="button"
                    class="flex text-blue-800 p-2 rounded hover:text-blue-900 hover:bg-blue-100 items-center"
                    ngbDropdownToggle>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
                    </svg>
                    <span class="ml-2 text-sm">Filters</span>
                </button>
                <div ngbDropdownMenu class="shadow-md rounded border !border-blue-50 overflow-hidden px-2 py-3">
                    <div class="w-80 mx-2 flex flex-col">
                        <span class="mr-2 whitespace-nowrap font-bold text-sm">Filter By:</span>
                        <div class="flex flex-wrap mt-2">
                            <div *ngFor="let col of sortOptions" class="text-sm rounded-lg p-1 m-1
                            bg-white border !border-blue-100 text-blue-400 cursor-pointer"
                                (click)="updateSortKeys(col.key)" [ngClass]="{
                                '!bg-blue-100':  checkKey(col.key)
                            }">
                                {{ col.value }} {{ checkKey(col.key) ? '(' + keyPriority(col.key) + ')' : ''}}
                            </div>
                        </div>
                        <span class="mt-2 mr-2 whitespace-nowrap font-bold text-sm">Order By:</span>
                        <div class="flex mt-2">
                            <div class="text-sm rounded-lg p-1 m-1 bg-white border !border-blue-100 text-blue-400 cursor-pointer"
                                (click)="updateSortKeys('asc')" [ngClass]="{
                                '!bg-blue-100':  checkKey('asc')
                            }">
                                ASC
                            </div>
                            <div class="text-sm rounded-lg p-1 m-1 bg-white border !border-blue-100 text-blue-400 cursor-pointer"
                                (click)="updateSortKeys('desc')" [ngClass]="{
                                '!bg-blue-100':  checkKey('desc')
                            }">
                                DESC
                            </div>
                        </div>
                        <div class="flex mt-2 border-t pt-2">
                            <div class="m-1 btn-sm-danger-tw"
                                (click)="updateSortKeys('clear')">
                                Reset
                            </div>
                            <div class="flex-grow-1"> </div>
                            <div class="m-1 btn-sm-primary-tw"
                                (click)="cancelSort(); filterDropdown.close()">
                                Cancel
                            </div>
                            <div class="m-1 btn-sm-primary-tw"
                                (click)="saveSort(); filterDropdown.close()">
                                Save
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex items-center p-3 rounded bg-white transition ease-in-out"
        *ngFor="let row of patientRecordData(); let last = last" [ngClass]="{
            'mb-2': !last
        }">
        <div class="font-bold w-20 md:w-1/12 text-blue-800 hover:text-blue-900 cursor-pointer truncate"
            (click)="edit(row)">{{
            row.specNo
            }}</div>
        <div class="ml-2 text-neutral-800 w-4/12 md:w-2/12 truncate" placement="top" triggers="mouseenter:mouseleave"
            [ngbPopover]="row.patient.name" [openDelay]="1000">{{ row.patient.name }}</div>
        <div class="ml-2 text-neutral-800 w-5/12 md:w-2/12 truncate">{{ row.ordered }}</div>
        <div class="ml-2 text-neutral-800 w-2/12 truncate hidden md:block" placement="top"
            triggers="mouseenter:mouseleave" [ngbPopover]="row.orderingDoctor.trim()"
            [disablePopover]="!row.orderingDoctor.trim()" [openDelay]="1000">{{
            row.orderingDoctor.trim() ||
            "-" }}</div>
        <div class="ml-2 text-neutral-800 w-1/12 truncate hidden md:block">{{ row.specimen }}</div>
        <div class="ml-2 text-neutral-800 w-40 truncate hidden md:block" placement="top"
            triggers="mouseenter:mouseleave" [ngbPopover]="convertDate(row.receivedDateTime)" [openDelay]="500">{{
            convertDate(row.receivedDateTime) }}</div>
        <div class="ml-2 text-neutral-800 w-40 truncate hidden md:block" placement="top"
            triggers="mouseenter:mouseleave" [ngbPopover]="convertDate(row.collectionDateTime)" [openDelay]="500">{{
            convertDate(row.collectionDateTime) }}
        </div>
        <div class="ml-2 text-neutral-800 w-20 truncate hidden md:block">
            <ng-container [ngTemplateOutlet]="status" [ngTemplateOutletContext]="{
                'status': row.status
            }"></ng-container>
        </div>
        <div class="flex-grow"></div>
        <div class="flex w-24 justify-end content-center">
            <button class="p-2 rounded-full text-blue-800 hover:!bg-blue-50" (click)="edit(row)" placement="top"
                triggers="mouseenter:mouseleave" [ngbPopover]="'Open Form'" [openDelay]="1000">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
            </button>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="p-2 rounded-full text-blue-800 hover:!bg-blue-50" ngbDropdownToggle>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                    </svg>
                </button>
                <div ngbDropdownMenu class="border-0 shadow-md rounded overflow-hidden">
                    <button ngbDropdownItem [routerLink]="[row.id]" [queryParams]="{ duplicate: true }">
                        <div class="flex flex-row content-center py-2">
                            <svg class="w-5 h-5 mt-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
                            </svg>
                            <label class="ml-2">
                                Duplicate Form
                            </label>
                        </div>
                    </button>
                    <button ngbDropdownItem (click)="delete(row)" [disabled]="!canDelete">
                        <div class="flex flex-row content-center py-2">
                            <svg class="w-5 h-5 mt-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                            <label class="ml-2">
                                Delete Form
                            </label>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template let-status="status" #status>
    <div *ngIf="status === 'routine'"
        class="pointer-events-none text-center border !border-blue-400 text-blue-400 bg-blue-50 rounded text-sm p-1">
        Routine
    </div>
    <div *ngIf="status === 'stat'"
        class="pointer-events-none text-center border !border-yellow-400 text-yellow-400 bg-yellow-50 p-1 rounded text-sm">
        Stat
    </div>
    <div *ngIf="status === 'urgent'"
        class="pointer-events-none text-center border !border-red-400 text-red-400 bg-red-50 p-1 rounded text-sm">
        Urgent
    </div>
</ng-template>