<div class="d-flex w-100 align-items-center">
    <img src="assets/logo_no_text.png" [routerLink]="['']" width="80" class="me-3">
    <ul ngbNav [activeId]="effect.activeTab$ | async" class="nav-pills">
        <li [ngbNavItem]="link.href" *ngFor="let link of links">
            <a ngbNavLink [routerLink]="[link.href]" class="me-2">{{ link.title }}</a>
        </li>
    </ul>
    <div class="flex-fill text-end">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-link" id="dropdownBasic1" ngbDropdownToggle>
                Francis Duya
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Log Out</button>
            </div>
        </div>
    </div>
</div>
<div class="pt-3">
    <mds-breadcrumbs></mds-breadcrumbs>
</div>